@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Eczar:400,700");

html {
  background: url(./img/bg.png) center center repeat fixed;
}

html::-webkit-scrollbar {
  width: 2px;
}

html::-webkit-scrollbar-track {
  background-color: #0c0c0c;
}

html::-webkit-scrollbar-thumb {
  background: #BF9B6F;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  color: #ffff;
}

.closeButtonFilters{
  display: none;
}
.filterButtomMobile{
  display: none;
}
.App {
  text-align: center;
}

.nav {
  height: 100px;
  width: 100vh;
  position: fixed;
  left: 0px;
  transform: rotate(-90deg) translate(-45%, -43vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.has {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.has li .a {
  padding-bottom: 10px;
  opacity: 0.5;
  transition: 0.5s ease;
  width: auto;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  cursor: pointer;
  text-decoration: none;
}

.has li .a:hover {
  opacity: 1;
  background-size: 50% 2px;
}

.tig {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #ffff;
  padding-right: 30px;
}

.socialMedia {
  width: 25px;
  transform: rotate(90deg);
  opacity: 0.5;
  transition: opacity 0.5s;
  display: flex;
  cursor: pointer;
}

.socialMedia:hover {
  opacity: 1;
}

ul {
  list-style: none;
}

.cart {
  height: 30px;
  padding-left: 10px;
  border: none;
  background: none;
  border-left: 1px solid #ffff;
  text-decoration: none;
}

.red {
  right: -10px;
  top: -5px;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  background-color: #bf9b6f;
  transform: rotate(90deg);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center
}

h5 {
  transform: translate(0, -2px);
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 700;
}

.productContainer {
  position: absolute;
  left: 7vw;
  width: 80vw;
  height: 95vh;
  top: 3vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.productContainer::-webkit-scrollbar {
  width: 2px;
}

.productContainer::-webkit-scrollbar-thumb {
  background: #BF9B6F;
  border-radius: 5px;
}

.lds-dual-ring {
  z-index: 100;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  right: 0;
  top: 0;
  position: fixed;
  width: 90vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.imgCard {
  position: relative;
  height: 80%;
  min-width: 100%;
  transition: 1s;
}

.card:hover .imgCard {
  opacity: 0.35;
  height: 85%;
  width: auto;
  filter: blur(6px);
}

.card {
  display: flex;
  width: 300px;
  height: 360px;
  border-radius: 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0c0c;
  box-shadow: rgba(105, 105, 105, 0.2) 0px 8px 24px;
  margin: 10px 33px;
  margin-bottom: 25px;
  transition: 0.5s;
}

.card:hover {
  box-shadow: rgb(95, 79, 57) 0px 8px 24px;
}

.titleCard {
  width: fit-content;
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 14px;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: ease;
  transition: 1s;
  padding-bottom: 4px;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
}

.card:hover .titleCard {
  opacity: 1;
  background-size: 30% 2px;
}

.textCard {
  padding: 10px;

}

.informationCard {
  text-align: left;
  font: normal 16px/30px "Alegreya Sans", sans-serif;
  transition: 1s;
  opacity: 0.5;
  font-size: 15px;
  letter-spacing: 2px;
}

.card:hover .informationCard {
  opacity: 0;
  display: hide;
}

.hoverCard {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
  width: 260px;
  height: 310px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.card:hover .hoverCard {
  opacity: 1;
  transition: 1s;
}

.homeContainer {
  position: absolute;
  right: 20vw;
  width: 60vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: left;
  width: 440px;
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 60px;
  color: #BF9B6F;
  line-height: 1.1;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  background-size: 15% 15px;
}

.logoTitle {
  width: 350px;
}

.title {
  margin: 32vh 0 30vh 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.pTitle {
  margin-top: 20px;
  text-align: left;
  font: normal 16px/30px "Alegreya Sans", sans-serif;
  font-size: 20px;
  word-spacing: 5px;
}

.pTitle2 {
  text-align: right;
}

.first {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.buyNow {
  margin-top: 15px;
  font: normal 16px/30px "Alegreya Sans", sans-serif;
  font-size: 22px;
  text-decoration: none;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: #BF9B6F;
  transition: 1s ease;
}

.buyNow:hover {
  background-position: 0% 100%;
  background-size: 100% 1px;
}

.exampleImage {
  width: 200px;
  border-radius: 20px;
  margin: 20px 100px 20px 100px;
}

.secondTitle {
  width: fit-content;
  position: relative;
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 60px;
  color: #BF9B6F;
  text-align: left;
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: initial;
  position: relative;
  margin-bottom: 13%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.exampleCards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.itemId {
  font: normal 16px/30px "Alegreya Sans", sans-serif;
  font-size: 15px;
  word-spacing: 5px;
  text-align: left;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.categoryFilter {
  height: 100px;
  width: 100vh;
  position: fixed;
  right: 0px;
  display: flex;
  height: 90vh;
  top: 3vh;
  width: 200px;
  position: fixed;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.categoryFilter {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.b {
  text-decoration: none;
  opacity: 0.5;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  cursor: pointer;
  transition: 1s;
  padding-bottom: 10px;
}

.categoryFilter li {
  margin: 10px;
}

.b:hover {
  opacity: 1;
  background-size: 50% 2px;
}

.b2 {
  font-size: 15px;
}

.more {
  padding: 60px 10px 60px 10px;
  transition: 0.5s;
  opacity: 0.5;
  width: 100%;
  height: 20%;

}

.more img {
  width: 35px;
}

.more:hover {
  opacity: 1;
}

.loading2 {
  position: relative;
  height: 300px;
}

.companys {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #0c0c0c;
}

.companysContainer {
  margin-top: 10px;
  width: 80%;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #0c0c0c;
  border-radius: 5px;
  border: 1px solid #BF9B6F;
  padding: 5px 10px 5px 10px;
}

.b3 {
  font-size: 15px;
  opacity: 0.5;
  margin: 5px 0 5px 0;
}

.range {
  border-radius: 8px;
  height: 9px;
  outline: none;
  appearance: none;
  /* -webkit-appearance: none; */
  opacity: 0.5;
  transition: 0.5s;
}

.range:hover {
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  appearance: none;
  height: 15px;
  background: #BF9B6F;
  border-radius: 5px;
}

.b4 {
  text-decoration: none;
  color: #BF9B6F;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: #BF9B6F;
  transition: 1s ease;
  padding-bottom: 6px;
  font-weight: 600;
}

.b4:hover {
  background-position: 0% 100%;
  background-size: 100% 1px;
}

.search {
  background: none;
  border: #BF9B6F 1px solid;
  padding: 5px 10px 5px 10px;
  width: 70%;
  border-radius: 5px;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffff;
}

.productContainer:empty {
  align-items: center;
}

.productContainer:empty::after {
  position: relative;
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 40px;
  color: #BF9B6F;
  line-height: 1.1;
  content: 'Sorry, no products matched your search.';
  width: fit-content;
  line-height: 1.1;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  background-size: 43% 10px;
  text-align: left;
  height: fit-content;
  top: -20px;
  z-index: -10;
}

.mainAbout {
  background-position: 100% 100%;
  font-size: 50px;
}

.mainImageAbout {
  width: 300px;
  transform: scaleX(-1);
}

.mainImageAbout2 {
  width: 170px;
  transform: translate(-50%, 0%);
}

.containerImageAbout {
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-repeat: no-repeat;
  background-position: 68% 40%;
  background-size: 30px 60%;
}

.titleAbout {
  margin: 30vh 0 30vh 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.cardsAbout {
  width: 250px;
  height: fit-content;
  background-color: #bf9b6f8c;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0px 20px;
}

.miViHI {
  position: relative;
  margin: 30vh 0 30vh 0;
  display: flex;
  flex-wrap: wrap;
  left: 5%;
  width: 90%;
  justify-content: space-evenly;
}

.secuImage {
  width: 100%;
}

.secuImageCon {
  position: relative;
  width: 50px;
  background-color: #b69165;
  border-radius: 100%;
  padding: 30px;
  top: -90px;
}

.textCardAbout {
  position: relative;
  top: -75px;
}

.h3About {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  font-size: 19px;
  text-align: left;
  line-height: normal;
}

.h2About {
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 30px;
  margin-bottom: 1px;
}

.itemDatail {
  position: absolute;
  right: 5vw;
  width: 85vw;
  top: 5vh;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
}

.details {
  width: 50%;
}

.btnImg {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  margin: 4px;
}

.btnImg:hover {
  border: #b69165 1px solid;
  width: 75px;
  height: 75px;
  cursor: pointer;
  position: relative;
  box-shadow: rgb(95 79 57) 0px 8px 24px;
}

.innerBtn {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 100%;

}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.minImgCon {
  overflow: hidden;
  height: 450px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(105, 105, 105, 0.644) 0px 8px 24px;
}

.miniImg {
  left: -1%;
  position: relative;
  height: 80px;
  margin-top: 20px;
  display: flex;
  width: 102%;
  justify-content: space-between;
  align-items: center;
}

.pDetail {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 30px;
}

.h1 {
  margin-top: 30px;
  width: 100%;
}

.btnBack {
  text-decoration: none;
  color: #b69165;
  font-size: 20px;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: #BF9B6F;
  transition: 1s ease;
  padding-bottom: 6px;
  margin-bottom: 20px;
  font-weight: 600;
}

.btnBack:hover {
  background-position: 0% 100%;
  background-size: 100% 1px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.aditionalInfo {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.7;
  text-align: left;
}

.priceInfo {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 900;
  color: #BF9B6F;
  padding-bottom: 25px;
}

.allButtons {
  display: flex;
  margin-top: 20px;
}

.moreLessBut {
  display: flex;
}

.secuButt {
  width: 30px;
  height: 30px;
  background: none;
  border: #b69165 1px solid;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
}

.secuButt:hover {
  cursor: pointer;
  background-color: #b6926591;
}

.actualCart {
  margin: 0px 10px 0 10px;
  font-weight: 100;
  width: 20px;
}

.addCart {
  letter-spacing: 5px;
  padding: 0 10px;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  margin-left: 10px;
  background: none;
  border: #b69165 1px solid;
  border-radius: 5px;
  font-size: 20px;
}

.addCart:hover {
  cursor: pointer;
  background-color: #b6926591;
}

.cartSpace {
  position: absolute;
  left: 10vw;
  width: 80vw;
  min-height: 97vh;
  top: 3vh;
}

/* .confirmation{
  
} */
.ItemCartDetail {
  margin: 20px;
  max-width: 100%;
  min-height: 80px;
  background-color: #0c0c0c;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.26) 0px 8px 24px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  padding: 10px;
  align-items: center;
  opacity: 0.5;
  text-decoration: none;
  flex-wrap: wrap;
}

.ItemCartDetail:hover {
  opacity: 1;
  box-shadow: rgb(95 79 57) 0px 8px 24px;
}

.imgCartItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgCartItemCon {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 15px;

}

.titleCartItem {
  width: 100px;
  text-align: left;
}

.allButtonsCart {
  margin-right: 10px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.butCart {
  width: 30px;
  height: 30px;
  background: none;
  border: #b69165 solid 1px;
  border-radius: 5px;
  transition: 0.3s;
}

.butCart:hover {
  background-color: #b692657a;
  cursor: pointer;
}

.titleCartItem {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 19px;
  letter-spacing: 5px;
}

.h {
  font-size: 19px;
}

.title1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.center {
  height: 90vh;
  display: flex;
}

.total {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;

  display: flex;
}

.confirmation {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.k {
  display: flex;
  width: fit-content;
  margin-bottom: 15px;
  align-items: center
}

.total div {
  margin-left: 10px;
  font-weight: 600;
}

.clear {
  background: none;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  padding: 5px 15px 5px 15px;
  border: #b69165 solid 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
}

.clear:hover {
  cursor: pointer;
  background-color: #b692657a;
}

.l {
  margin-right: 20px;
}

.checkpout {
  position: absolute;
  left: 10vw;
  width: 80vw;
  min-height: 100vh;
  top: 0vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.confirmationChek {
  display: grid;
  width: 100%;
  min-height: 85vh;
  grid-template-rows: repeat(2, 390px);
  grid-template-columns: 47% 47%;
  align-content: space-between;
  justify-content: space-evenly;
  grid-row-gap: 20px;
  grid-template-areas:
    "Delivery PaymentMethod"
    "Purchase PaymentMethod";
  margin: 20px;
}

.Purchase {
  grid-area: Purchase;
}

.Delivery {
  grid-area: Delivery;
}

.reUseP {
  height: 90%;
  width: 90%;
  background-color: #0c0c0c;
  box-shadow: rgba(255, 255, 255, 0.13) 0px 8px 24px;
  /* border: #b69165 1px solid; */
  border-radius: 25px;
  border: #b69165;
  transition: 0.3s;
  padding: 5% 5% 5% 5%;
}

.reUseP:hover {
  box-shadow: rgba(119, 99, 70, 0.678) 0px 8px 24px;
}

.titlePa {
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 30px;
  margin-bottom: 10px;
  color: #b69165;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-bottom: 7px;
  background-size: 30% 10px;
  width: fit-content;
}

.PaymentMethod {
  grid-area: PaymentMethod;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-end
}

.toTal {
  padding-top: 30px;
  border-top: 1px rgba(255, 255, 255, 0.452) solid;
  width: 100%;
}

.ko {
  margin-top: 5%;
  width: 100%;
  justify-content: space-between;
}

.ko div {
  font-weight: 100;
}

.Deli {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  margin-left: 20px;
}

.deliCOn {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.deliCOn div {
  margin-top: 30px;
}

.search2 {
  margin-top: 30px;
  width: 90%;
  padding: 2% 5% 2% 5%;
  text-transform: none;
}

.search2::placeholder {
  text-transform: uppercase;
}

.search2:disabled {
  opacity: 0.5;
}

.finish {
  background: none;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  padding: 10px 25px 10px 25px;
  border: #b69165 solid 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 20px;
}

.finish:hover {
  cursor: pointer;
  background-color: #b692657a;
}

.finish:disabled {
  opacity: 0.5;
}

.finish:disabled:hover {
  cursor: auto;
  background: none;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #0c0c0c;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.5px solid #b69165;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #b69165;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.5px solid #b69165;
}

.endCard {
  position: absolute;
  margin: 5% 0px 5% 0px;
  bottom: 10px;
  width: 90%;
  height: 670px;
  padding: 5%;
  background-color: #0c0c0cdc;
  border-radius: 40px;
  border: #b69165 1px solid;
  z-index: 100;
  backdrop-filter: blur(10px);
  transition: 1s ease;
}

.payM {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-rows: repeat(5, 15%);
  grid-template-columns: repeat(2, 45%);
  align-content: space-between;
  justify-content: space-between;
  grid-template-areas:
    "f f"
    "g g"
    "j j"
    "e e"
    "ex x";
}

#ex {
  grid-area: ex;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.j {
  grid-area: j;
}

.e {
  grid-area: e;
}

.x {
  grid-area: x;
}

.conpayme {
  width: 100%;
}

.reUsev {
  padding-bottom: 0px;
}

.lastButtonsCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.orderSearchCont {
  position: absolute;
  left: 20vw;
  width: 60vw;
  min-height: 95vh;
  top: 2.5vh;
  display: flex;
}

.mat {
  margin-top: 20px;
}

.mata {
  margin-top: 18px;
  width: 260px;
  text-transform: none;
}

.title4 {
  margin: 0px;
}

.h1Order {
  width: auto;
  display: flex;
  font-size: 35px;
  background-size: 0;
  padding-bottom: 3px;
}

.h1Order div {
  margin-left: 20px;
}

.DLI {
  background-color: #BF9B6F;
  width: fit-content;
  padding: 1px 10px 1px 10px;
  color: #0c0c0c;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 600;
}

.h2Order {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 100;
}

.firstOrder {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 130px;
  justify-content: space-between
}

.orderDetail {
  position: absolute;
  right: 5vw;
  width: 85vw;
  top: 10vh;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start
}

.itemsOfOrder {
  margin-top: 20px;
  width: 100%;
}

.fin {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.g {
  margin-right: 20px;
}

.centerOrder {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.met {
  margin-bottom: 20px;
}

.errorH1 {
  font-size: 42px;
}

.logoTitle2 {
  width: 270px;
}

.nav2 {
  display: none;
}

@media (max-width: 1500px) {
  .productContainer {
    width: 55vw;
    left: 17.5vw;
  }
}

@media (max-width: 1250px) {
  .containerImageAbout {
    display: none;
  }

  .logoTitle {
    display: none;
  }

  .title {
    justify-content: center
  }

  .examples {
    align-items: center
  }
}

@media (max-width: 1000px) {
  .confirmationChek {
    grid-template-rows: repeat(4, 390px);
    grid-template-columns: 90%;
    grid-template-areas:
      "Delivery"
      "Purchase"
      "PaymentMethod"
      "PaymentMethod";
  }
}

@media (max-width: 750px) {
  .imgCartItemCon {
    grid-area: img;
  }

  .titleCartItem {
    grid-area: title;
  }

  .priceCart {
    grid-area: priceCart;
  }

  .but {
    grid-area: but;
    height: 100%;
    flex-direction: column;
  }

  .allButtonsCart {
    height: 100%;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: space-around
  }

  .deleteBut {
    grid-area: deleteBut;
  }

  .ItemCartDetail {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: fit-content 30% 30%;
    align-content: space-between;
    justify-content: space-between;
    grid-row-gap: 20px;
    grid-template-areas:
      "img title but"
      "img priceCart but";
  }

}

@media (max-width: 700px) {
  .nav {
    display: none;
  }

  .hamButton {
    background: none;
    border: none;
    position: fixed;
    width: 30px;
    right: 20px;
    top: 20px;
  }

  .hamButton img,
  .clolseButton img {
    width: 100%;
  }

  .nav2 {
    display: block;
  }

  .navside {
    position: fixed;
    width: 30vw;
    background-color: #0c0c0c;
    height: 92vh;
    z-index: 10;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 4vh 5vw;
    align-items: flex-end;
    transition: 0.7s ease;
    justify-content: space-between;
  }

  .clolseButton {
    background: none;
    border: none;
    width: 25px;
  }

  .cover {
    top: 0px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #0c0c0c54;
    position: fixed;
    z-index: 9;
    backdrop-filter: blur(2px);
    transition: 0.7s ease;
  }

  .has {
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: flex-end
  }

  .has li .a {
    font-size: 15px;
    background-position: 100% 100%;
  }

  .socialMedia {
    width: 20px;
    transform: rotate(0deg);

  }

  .tig {
    border: none;
    width: 100%;
    right: 0px;
    padding-right: 0px;
  }

  .cart {
    z-index: 8;
    border: none;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
    padding: 0px;
  }

  .red {
    transform: rotate(0deg);
    right: -70%;
    top: -120%;
    width: 20px;
    height: 20px;
  }

  .red h5 {
    font-size: 17px;
  }

  .cart .socialMedia {
    width: 100%;
    opacity: 1;
  }

  .nav2Cont {
    width: 100%;
    height: 70px;
    background-color: #0c0c0cd3;
    position: fixed;
    z-index: 90;
  }

  .cartSpace {
    width: 100%;
    left: 0px;
    top: 80px;
    min-height: 100px;
  }

  .marginB {
    margin: 10px;

  }

  .cartOpt {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
  }

  .confirmation {
    align-items: center
  }

  .checkpout {
    width: 100%;
    left: 0px;
    top: 80px;
  }

  .confirmationChek {
    margin: 20px 0px;
  }

  .finish {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .lastButtonsCont {
    flex-wrap: wrap;
    justify-content: space-around
  }

  .homeContainer {
    width: 100%;
    left: 0px;
    align-items: center;
  }

  .title, .titleAbout {
    margin-top: 25vh;
    width: 90%;
    left: 5%;
  }

  h1 {
    width: 100%;
  }

  .examples {
    width: 90%;
    left: 45%;
  }
  .miViHI{
      width: 90%;
      left: 0%;
  }
  .mainAbout{
    background-position: 0% 100%;
  }
  .pTitle2{
    text-align: left;
  }
  .categoryFilter{
    top: 0px;
    padding: 5vh 5vw;
    background-color: #0c0c0c;
    z-index: 100;
    transition: 0.7s ease;
    width: fit-content;
    right: -100%;
  }
  .closeButtonFilters{
    align-self: flex-end;
    display: block;
  }
  .search{
    width: 90%;
  }
  #company{
    width: 100%;
  }
  .filterButtomMobile{
    position: fixed;
    width: 35px;
    border-radius: 10px;
    height: 35px;
    bottom: 20px;
    right: 20px;
    background-color: #b69165;
    border: none;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filterButtomMobile img{
    width: 60%;
    height: 60%;
  }
  .right0 {
    right: 0%;
  }

  .left0 {
    left: 0%;
  }
  .more{
    z-index: 3;
  }
  .productContainer{
   width: 100vw;
   left: 0px;
   height: 90vh;
   top: 10vh;
  }
}