@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Eczar:400,700");
html{
  background-color: #111111;
}
html::-webkit-scrollbar{
  width: 5px;
}
* {
  margin: 0;
  padding: 0;
  color: #ffff;
}
.App {
  text-align: center;
  background-color: #111111;
  min-height: 100vh;
  width: 100%;
  height: auto;
}
.nav {
  height: 100px;
  width: 100vh;
  position:fixed;
  left: -18%;
  transform: rotate(-90deg) translate(-45%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.has{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.has li span{
  padding-bottom: 10px;
  opacity:0.5;
  transition: 0.5s ease;
  width: auto;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  cursor: pointer;
}
.has li span:hover{
  opacity:1;
  background-size: 50% 2px;
}
.tig{
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #ffff;
  padding-right: 30px;
}
.socialMedia {
  width: 25px;
  transform: rotate(90deg);
  opacity:0.5;
  transition: opacity 0.5s;
  display: flex;
  cursor: pointer;
}
.socialMedia:hover{
  opacity:1;
}
ul {
  list-style: none;
}
.cart{
  padding-left: 10px;
  border-left: 1px solid #ffff;
  border: none;
  background: none;
}
.red{
  font-size: 15px;
  font: normal "Alegreya Sans",sans-serif;
  color: black;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  background-color: #BF9B6F;
  transform: rotate(90deg);
  position: absolute;
}
.productContainer{
  position:absolute;
  right: 0px;
  width: 90vw;
  min-height: 100vh;
}

/* font:bold calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 ))/calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 )) "Eczar",serif; */
