@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Eczar:400,700");
html{
  background:url(./img/bg.png) center center repeat fixed;
}
html::-webkit-scrollbar{
  width: 2px;
}
html::-webkit-scrollbar-track {
  background-color: #0c0c0c;
}
html::-webkit-scrollbar-thumb {
  background:#BF9B6F; 
  border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  color: #ffff;
}
.App {
  text-align: center;
}
.nav {
  height: 100px;
  width: 100vh;
  position:fixed;
  left: 0px;
  transform: rotate(-90deg) translate(-45%, -43vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.has{
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.has li .a{
  padding-bottom: 10px;
  opacity:0.5;
  transition: 0.5s ease;
  width: auto;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  cursor: pointer;
  text-decoration: none;
}
.has li .a:hover{
  opacity:1;
  background-size: 50% 2px;
}
.tig{
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #ffff;
  padding-right: 30px;
}
.socialMedia {
  width: 25px;
  transform: rotate(90deg);
  opacity:0.5;
  transition: opacity 0.5s;
  display: flex;
  cursor: pointer;
}
.socialMedia:hover{
  opacity:1;
}
ul {
  list-style: none;
}
.cart{
  height: 30px;
  padding-left: 10px;
  border: none;
  background: none;
  border-left: 1px solid #ffff;
  text-decoration: none;
}
.red{
  right: -10px;
  top: -5px;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  background-color: #bf9b6f;
  transform: rotate(90deg);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center
}
h5{
  transform: translate(0, -2px);
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 700;
}
.productContainer{
  position:absolute;
  left: 7vw;
  width: 80vw;
  min-height: 97vh;
  top:3vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lds-dual-ring {
  z-index: 100;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading{
  right: 0;
  top: 0;
  position: fixed;
  width: 90vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 100;
}
.imgCard{
  position: relative;
  height: 80%;
  min-width: 100%;
  transition: 1s;
}
.card:hover .imgCard{
  opacity:0.35;
  height: 85%;
  width: auto;
  filter: blur(6px);
}
.card{
  display: flex;
  width: 300px;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0c0c;
  box-shadow: rgba(105, 105, 105, 0.2) 0px 8px 24px;
  margin: 10px 33px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.card:hover {
  box-shadow: rgb(95, 79, 57) 0px 8px 24px;
}
.titleCard{
  width: fit-content;
  font:bold calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 )) "Eczar",serif;
  font-size: 14px;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: ease;
  transition: 1s;
  padding-bottom: 4px;
  opacity:0.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
}
.card:hover .titleCard{
  opacity:1;
  background-size: 30% 2px;
}
.textCard{
  padding: 15px;

}
.informationCard{
  text-align: left;
  font: normal 16px/30px "Alegreya Sans",sans-serif;
  transition: 1s;
  opacity: 0.5;
  font-size: 15px;
  letter-spacing: 2px;
}
.card:hover .informationCard{
  opacity: 0;
  display: hide;
}
.hoverCard{
  opacity: 0;
  position:absolute;
  transition: 0.5s;
  z-index: 10;
  width: 260px;
  height: 310px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.card:hover .hoverCard{
  opacity: 1;
  transition: 1s;
}
.homeContainer{
  position:absolute;
  right: 10vw;
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1{
  text-align: left;
  width: 440px;
  font:bold calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 )) "Eczar",serif;
  font-size: 60px;
  color: #BF9B6F;
  line-height: 1.1;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  background-size: 15% 15px;
}
.logoTitle{
  width: 350px;
}
.title{
  margin: 32vh 0 30vh 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.pTitle{
  margin-top: 20px;
  text-align: justify;
  font: normal 16px/30px "Alegreya Sans",sans-serif;
  font-size: 20px;
  word-spacing: 5px;
}
.first{
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.buyNow{
  margin-top: 15px;
  font: normal 16px/30px "Alegreya Sans",sans-serif;
  font-size: 22px;
  text-decoration: none;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: #BF9B6F;
  transition: 1s ease;
}
.buyNow:hover{
  background-position: 0% 100%;
  background-size: 100% 1px;
}
.exampleImage{
  width: 200px;
  border-radius: 20px;
  margin: 20px 100px 20px 100px;
}
.secondTitle{
  width: fit-content;
  position: relative;
  font:bold calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 )) "Eczar",serif;
  font-size: 60px;
  color: #BF9B6F;
  text-align: left;
}
.examples{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 13%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.exampleCards{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}
.itemId{
  font: normal 16px/30px "Alegreya Sans",sans-serif;
  font-size: 15px;
  word-spacing: 5px;
  text-align: left;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.categoryFilter{
  height: 100px;
  width: 100vh;
  position:fixed;
  right: 0px;
  display: flex;
  height: 90vh;
  top: 3vh;
  width: 200px;
  position:fixed;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.categoryFilter{
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.b{
  text-decoration: none;
  opacity: 0.5;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  cursor: pointer;
  transition: 1s;
  padding-bottom: 10px;
}
.categoryFilter li{
  margin: 10px;
}
.b:hover{
opacity:1;
background-size: 50% 2px;
}
.b2{
  font-size: 15px;
}
.more{
  padding: 60px 10px 60px 10px;
  transition: 0.5s;
  opacity: 0.5;
  width: 100%;
  height: 20%;

}
.more img{
  width: 35px;
}
.more:hover{
  opacity: 1;
}
.loading2{
  position: relative;
  height: 300px;
}
.companys{
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #0c0c0c;
}
.companysContainer{
  margin-top: 10px;
  width: 80%;
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #0c0c0c;
  border-radius: 5px;
  border: 1px solid #BF9B6F;
  padding: 5px 10px 5px 10px;
}
.b3{
  font-size: 15px;
  opacity: 0.5;
  margin: 5px 0 5px 0;
}
.range {
  border-radius: 8px;
  height: 9px;
  outline: none;
  -webkit-appearance: none;
  opacity: 0.5;
  transition: 0.5s;
}
.range:hover{
  opacity: 1;
}
input[type='range']::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  height: 15px;
  background: #BF9B6F;
  border-radius: 5px;
}
.b4{
  text-decoration: none;
  color: #BF9B6F;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: #BF9B6F;
  transition: 1s ease;
  padding-bottom: 6px;
  font-weight: 600;
}
.b4:hover{
background-position: 0% 100%;
background-size: 100% 1px;
}
.search{
  background: none;
  border: #BF9B6F 1px solid;
  padding: 5px 10px 5px 10px;
  width: 70%;
  border-radius: 5px;
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffff;
}
.productContainer:empty{
  align-items: center;
}
.productContainer:empty::after{
  position: relative;
  font:bold calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 )) "Eczar",serif;
  font-size: 40px;
  color: #BF9B6F;
  line-height: 1.1;
  content: 'Sorry, no products matched your search.';
  width:fit-content;
  line-height: 1.1;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  background-size: 43% 10px;
  text-align: left;
  height: fit-content;
  top: -20px;
  z-index: -10;
}
.mainAbout{
  background-position: 100% 100%;
  font-size: 50px;
}
.mainImageAbout{
  width: 300px;
  transform: scaleX(-1);
}
.mainImageAbout2{
  width: 170px;
  transform: translate(-50%, 0%);
}
.containerImageAbout{
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-repeat: no-repeat;
  background-position: 68% 40%;
  background-size: 30px 60%;
}
.titleAbout{
  margin: 30vh 0 30vh 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.cardsAbout{
  width: 250px;
  height: 250px;
  background-color: #bf9b6f8c;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center

}
.miViHI{
  position: relative;
  margin: 30vh 0 30vh 0;
  display: flex;
  flex-wrap: wrap;
  left: 5%;
  width: 90%;
  justify-content: space-evenly;
}
.secuImage{
  width: 100%;
}
.secuImageCon{
  position: relative;
  width: 60px;
  background-color:#b69165 ;
  border-radius: 100%;
  padding: 30px;
  top: -90px;
}
.textCardAbout{
  position: relative;
  top: -75px;
}
.h3About{
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  font-size: 19px;
}
.h2About{
  font:bold calc( 60px + 90 * ( ( 100vw - 400px ) / 1200 )) "Eczar",serif;
  font-size: 30px;
  margin-bottom: 10px;
}
.itemDatail{
  position:absolute;
  right: 5vw;
  width: 85vw; 
  top: 5vh;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
}
.details{
  width: 50%;
}
.btnImg{
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  margin: 4px;
}
.btnImg:hover{
  border: #b69165 1px solid;
  width: 75px;
  height: 75px;
  cursor: pointer;
  position: relative;
  box-shadow: rgb(95 79 57) 0px 8px 24px;
}
.innerBtn{
  width: 100%;
 height: 100%;
 object-fit: cover;
}
.img{
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 100%;
  
}
.mainImg{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.minImgCon{
  overflow: hidden;
  height: 450px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(105, 105, 105, 0.644) 0px 8px 24px;
}
.miniImg{
  left: -1%;
  position: relative;
  height: 80px;
  margin-top: 20px;
  display: flex;
  width: 102%;
  justify-content: space-between;
  align-items: center;
}
.pDetail{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 30px;
}
.h1{
  margin-top: 30px;
  width: 100%;
}
.btnBack{
  text-decoration: none;
  color: #b69165;
  font-size: 20px;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: #BF9B6F;
  transition: 1s ease;
  padding-bottom: 6px;
  margin-bottom: 20px;
  font-weight: 600;
}
.btnBack:hover{
  background-position: 0% 100%;
  background-size: 100% 1px;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.aditionalInfo{
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  letter-spacing: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.7;
  text-align: left;
}
.priceInfo{
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 900;
  color: #BF9B6F;
  padding-bottom: 25px;
}
.allButtons{
  display: flex;
  margin-top: 20px;
}
.moreLessBut{
  display: flex;
}
.secuButt{
  width: 30px;
  height: 30px;
  background: none;
  border: #b69165 1px solid;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 100;
}
.secuButt:hover{
  cursor: pointer;
  background-color: #b6926591;
}
.actualCart{
  margin: 0px 10px 0 10px;
  font-weight: 100;
  width: 20px;
}
.addCart{
  letter-spacing: 5px;
  padding: 0 10px;
  font: normal 14px/17px "Alegreya Sans",sans-serif;
  margin-left: 10px;
  background: none;
  border: #b69165 1px solid;
  border-radius: 5px;
  font-size: 20px;
}
.addCart:hover{
  cursor: pointer;
  background-color: #b6926591;
}